<div class="signup-container">
  <div class="signup-card">
    <h1>Sign Up</h1>
    <p class="subtitle">Create your ModestBazar account</p>

    <form (ngSubmit)="onSubmit()" class="signup-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          [value]="name()"
          (input)="name.set($any($event.target).value)"
          required
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          [value]="email()"
          (input)="email.set($any($event.target).value)"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          [value]="password()"
          (input)="password.set($any($event.target).value)"
          required
        />
      </div>

      @if (error()) {
        <div class="error-message">{{ error() }}</div>
      }

      <button type="submit" class="submit-button" [disabled]="isSubmitting()">
        @if (isSubmitting()) {
          Creating account...
        } @else {
          Sign Up
        }
      </button>
    </form>

    <div class="divider">
      <span>or</span>
    </div>

    <div class="social-login">
      <button type="button" class="social-button google" (click)="signupWithGoogle()">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.64 9.2c0-.637-.057-1.251-.164-1.84H9v3.481h4.844c-.209 1.125-.843 2.078-1.796 2.717v2.258h2.908c1.702-1.567 2.684-3.874 2.684-6.615z" fill="#4285F4"/>
          <path d="M9 18c2.43 0 4.467-.806 5.96-2.184l-2.908-2.258c-.806.54-1.837.86-3.052.86-2.344 0-4.328-1.584-5.036-3.711H.957v2.332C2.438 15.983 5.482 18 9 18z" fill="#34A853"/>
          <path d="M3.964 10.707c-.18-.54-.282-1.117-.282-1.707s.102-1.167.282-1.707V4.951H.957C.348 6.174 0 7.55 0 9s.348 2.826.957 4.049l3.007-2.342z" fill="#FBBC05"/>
          <path d="M9 3.58c1.321 0 2.508.454 3.44 1.344l2.58-2.58C13.463.891 11.426 0 9 0 5.482 0 2.438 2.017.957 4.951L3.964 7.293C4.672 5.156 6.656 3.58 9 3.58z" fill="#EA4335"/>
        </svg>
        Continue with Google
      </button>
      <button type="button" class="social-button facebook" (click)="signupWithFacebook()">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 9C18 4.03 13.97 0 9 0S0 4.03 0 9c0 4.42 3.21 8.08 7.41 8.84v-6.26H5.31V9h2.1V7.02c0-2.07 1.24-3.22 3.13-3.22.9 0 1.85.16 1.85.16v2.03h-1.04c-1.03 0-1.35.64-1.35 1.3V9h2.29l-.37 2.58H10.5v6.26C14.79 17.08 18 13.42 18 9z" fill="#1877F2"/>
        </svg>
        Continue with Facebook
      </button>
    </div>

    <p class="login-link">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
